.home-container {
    position: relative;
    min-height: 100vh;
}

.header-container {
    background-color: rgb(60, 60, 60);
    width: 200px;
    height: 500px;
    background-color: #ac9ef8;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 25px;
    padding: 25px 30px;
    text-align: center;
    font-family: "Cambria";
    color: white;
    border: 1px solid #9987fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container h1 {
    margin: 10px 0px;
}

#header-avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto;
}

.header-links {
    display: flex;
    flex-direction: column;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0px;
}

.header-links a:hover {
    color: #725bf9;
}

.header-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    margin: 10px 0px;
}

.header-socials a {
    color: white;
    text-decoration: none;
}

.header-socials a:hover, .header-socials a svg:hover {
    color: #725bf9;
}

.header-socials a:visited {
    color: white;
}

.about-container {
    position: absolute;
    border: 1px solid #9987fc;
    margin-left: 350px;
    margin-right: 40px;
    margin-bottom: 40px;
    top: 0px;
    border-radius: 25px;
    width: fit-content(60%);
    padding: 25px 30px;
    font-family: "Cambria";
    background-color: #ac9ef8;
    color: rgba(255, 255, 255, 0.833);
}

.about-container p {
    font-size: 18px;
    line-height: 25px;
}

.about-container h1 {
    color: white;
    margin-bottom: 0;
}

#experience-years {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-right: 10px;
}

#experience-company-name {
    color: white;
    font-weight: 800;
    margin-bottom: 0;
}

#experience-role {
    margin-top: 0;
}

#experience-skills span {
	background-color: white;
	color: #9987fc;
	padding: 3px 13px;
	border-radius: 30px;
	display: inline-block;
	margin: 10px 10px 15px 0px;
    font-weight: 700;
}

.projects-container {
    border-collapse: collapse;
}

.projects-container td:last-child {
    padding-right: 10px;
}

.projects-container tr:hover {
    background-color: #c3b8f9;
    border: 1px solid #d9d3f9;
}

.projects-container tr:hover #project-name {
    color: #725bf9;
}

.projects-container tr:hover #project-name svg {
    transform: translate(5px, -5px);
}

#project-name {
    color: white;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#project-name a {
    text-decoration: none;
}

#project-name a:visited {
    color: inherit;
}

#projects-screenshot {
    padding: 0px 25px 0px 10px;
}

#project-photo {
    width: 170px;
    height: 110px;
}

.footer-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}